span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 150px;
    height:200px;
    border-radius: 15px;
    font-size: 100%;
}

#mc{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 20px;
}


